@font-face {
    font-family: "poketit";
    src: url(/static/fonts/Ketchum.otf);
}

@font-face {
    font-family: "poketxt";
    src: url(/static/fonts/Pokemon\ Classic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

nav {
    text-align: center;
    font-size: xx-large;
    font-family: "poketit", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ef5350;
    color: #fecc08;
    text-shadow: -5px 0 #4058a1, 0 1px #4058a1, 1px 0 #4058a1, 0 -1px #4058a1;
}

main {
    height: 100%;
    width: 100%;
}

.titulo {
    text-align: center;
    font-family: 'poketxt', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 493px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2em auto;
    padding: 1em;
    background-image: url(/static/img/heroimage.jpg);
}

figure img {
    height: 290px;
}

.card-button {
    height: 450px;
    width: 350px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5%;
    flex-direction: column;
}

input {
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
}

footer {
    height: 75px;
    background-color: #ef5350;
    font-family: "poketxt", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.facil .card-button:hover {
    border: 5px solid green;
}

.medio .card-button:hover {
    border: 5px solid yellow;
}

.dificil .card-button:hover {
    border: 5px solid red;
}

.card-button figure {
    height: 80%;
    margin: 10px;
}

.card-button figure img {
    height: 100%;
    width: 100%;
}

.facil {
    height: 100%;
    width: 33%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.medio {
    height: 100%;
    width: 33%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.dificil {
    height: 100%;
    width: 33%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.pontuacao {
    position: absolute;
    justify-content: end;
    margin-bottom: 1000px;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-family: "poketxt", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: "poketxt", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 32px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    height: 75px;
    font-family: "poketxt", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f05454;
    text-align: center;
    justify-content: center;
    align-items: center;
}