<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Quem é esse Pokémon</title>
</head>
<body>
    <header>
        <nav>
            Quem é Esse Pokémon!?
        </nav>
    </header>
    <main>
        <div class="titulo">
            <h1>Escolha a dificuldade!</h1>
        </div>
        <div class="container">
            <div class="facil">
                <a href="/facil">
                    <div class="card-button">
                        <figure>
                            <img src="/static/img/facil.png" alt="">
                        </figure>
                        <div class="descricao">
                            <p>Fácil</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="medio">
                <a href="/medio">
                    <div class="card-button">
                        <figure>
                            <img src="/static/img/medio.png" alt="">
                        </figure>
                        <div class="descricao">
                            <p>Médio</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="dificil">
                <a href="/dificil">
                    <div class="card-button">
                        <figure>
                            <img src="/static/img/dificil.png" alt="">
                        </figure>
                        <div class="descricao">
                            <p>Difícil</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <p>Feito por: <a href="https://github.com/paulo-henrique-santos">Paulo Henrique</a></p>
    </footer>
</body>
</html>